@font-face {
    font-family: 'Francisco-Serial';
    src: url('Francisco-Serial-Bold.woff2') format('woff2'),
        url('Francisco-Serial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

